@model EntityLayer.Concrete.Member
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<section class="main-content-w3layouts-agileits">
	<div class="container">
		<h3 class="tittle">Kayıt Ol</h3>
		<div class="inner-sec">
			<div class="login p-5 bg-light mx-auto mw-100">

				@using (Html.BeginForm("Index", "Register", FormMethod.Post))
				{
					<div class="form-row">
						<div class="col-md-6 mb-3">
							<label for="validationCustom01">Adınız</label>
							@Html.TextBoxFor(x => x.MemberName, new { @class = "form-control", @id = "validationDefault01", @placeholder = "Adınızı Giriniz", @required = "" })
							@Html.ValidationMessageFor(x => x.MemberName, "", new { @class = "text-danger" })
							@*<input type="text" class="form-control" id="validationDefault01" placeholder="" required="">*@
						</div>
						<div class="col-md-6 mb-3">
							<label for="validationCustom02">E-mail Adresiniz</label>
							@Html.TextBoxFor(x => x.MemberEmail, new { @class = "form-control",  @placeholder = "E-Mail Adresinizi Giriniz", @required = "" })
							@Html.ValidationMessageFor(x => x.MemberEmail, "", new { @class = "text-danger" })
							@*<input type="text" class="form-control" id="validationDefault02" placeholder="" required="">*@
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="exampleInputPassword1 mb-2">Şifreniz</label>
							@Html.TextBoxFor(x => x.Password, new { @class = "form-control",  @placeholder = "Şifrenizi Giriniz", @required = "" })
							@Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
							@*<input type="password" class="form-control" id="password1" placeholder="" required="">*@
						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputPassword2 mb-2">Okul Adınız</label>
							@Html.TextBoxFor(x => x.SchoolName, new { @class = "form-control", @placeholder = "Okulunuzu Giriniz", @required = "" })
							@Html.ValidationMessageFor(x => x.SchoolName, "", new { @class = "text-danger" })
							@*<input type="text" class="form-control" id="password2" placeholder="" required="">*@
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="exampleInputPassword1 mb-2">Adresiniz</label>
							@Html.TextBoxFor(x => x.Adress, new { @class = "form-control",  @placeholder = "Adresinizi Giriniz", @required = "" })
							@Html.ValidationMessageFor(x => x.Adress, "", new { @class = "text-danger" })
						@*<input type="password" class="form-control" id="password1" placeholder="" required="">*@
						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputPassword2 mb-2">Telefon Numaranız</label>
							@Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control",  @placeholder = "Telefon Numaranızı Giriniz", @required = "" })
							@Html.ValidationMessageFor(x => x.PhoneNumber, "", new { @class = "text-danger" })
							@*<input type="text" class="form-control" id="password2" placeholder="" required="">*@
						</div>
					</div>
					<button type="submit" class="btn btn-primary submit mb-4">Kayıt Ol</button>
					<p>
						<a href="#">Kaydol'a tıklayarak, şartlarınızı kabul ediyorum</a>
					</p>
				}

			</div>
		</div>
	</div>
</section>

